* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Courier";
}

body {
  background-image: url("./designs/WebsiteBG.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  height: unset;
  width: 90%;
}

.app-wrapper {
  margin: 5%;
  background-image: url("./designs/ExtraBG.jpg");
  background-size: 120%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 650px;
  width: 85%;
}

.header h1 {
  margin-top: 20px;
  font-size: 50px;
  padding: 20px;
}

Form {
  padding: 20px;
}

.task-input {
  outline: none;
  margin-right: 0.5in;
  font-size: 20px;
  height: 30px;
  width: 5in;
  border-style: groove;
  border-color: brown;
}

.new-task-button {
  font-size: 20px;
  height: 30px;
  width: 1.75in;
  background-color: aliceblue;
  border-style: ridge;
  border-color: black red;
  cursor: pointer;
  transition: 0.5s;
}

.new-task-button:hover {
  background-color: yellow;
}

.new-task-button:active {
  background-color: darkgray;
}

.list-item {
  margin-bottom: 20px;
  background-color: transparent;
  width: 6in;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 0.25in;
  border-style: groove;
  border-color: brown;
}

.list {
  border: none;
  outline: none;
  font-size: 17.5px;
  background-color: transparent;
  color: black;
  height: 0.35in;
  width: 3in;
}

.button-complete, .button-edit, .button-delete {
  margin-left: 10px;
  height: 0.35in;
  width: 0.35in;
  background-color: aliceblue;
  border-style: ridge;
  border-color: black red;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button-complete:hover, .button-edit:hover, .button-delete:hover {
  background-color: yellow;
}

.button-complete:active, .button-edit:active, .button-delete:active {
  background-color: darkgray;
}

.complete {
  text-decoration-line: line-through;
  text-decoration-color: red;
}
